* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto; 
}

img#bg {
  position: absolute;
  clip: rect(0px, 0px, 0px, 0px);
}

#maintext {
	opacity:0;
	position: absolute;
	left: -300px;
	width: 290px;
	font-size: 20px;
	text-align: center;
}

#imagelogo {
	position: absolute;
	top: 25%;
  	left: 50%;
  	margin-top: -54px;
 	margin-left: -54px;
 	transform:scale(0.05);
 	opacity: 0;
}

#restartClip {
	position: absolute;
	top: 80%;
  	left: 50%;
  	margin-left: -42px;
  	margin-top: -89px;
 	transform:scale(0.05);
 	opacity: 1;
 	clip: rect(0px, 0px, 0px, 0px);
}

